@using System.Web.UI.WebControls
@using SMPL46.Models
@model SC1ParameterViewModel
@{
    ViewBag.Title = "SC1";
}

<h2>Street Cleaning Inspection</h2>

@if ((bool)(System.Web.HttpContext.Current.Session["loggedin"] ?? false))
{
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("SC1", "Reports", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    if (Model.StreetsFound == null)
                    {
                        <div class="form-group" style="padding-top: 20px;">
                            @Html.LabelFor(m => m.StreetPrompt, new { @class = "col-md-6 control-label" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Wards, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.WardCode, Model.Wards, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.StreetName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.StreetName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.StreetName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Get Streets" class="btn btn-primary" />
                            </div>
                        </div>
                    }
                    else
                    {
                        if (Model.StreetsFound.Count == 0)
                        {
                            @Html.LabelFor(m => m.StreetPrompt, Model.StreetPrompt, new { @class = "col-md-6 control-label" })
                            @Html.ActionLink("New Search", "SC1", "Reports", new { id = 2 }, new { @class = "col-md-6 control-label" })
                        }
                        else
                        {
                            <div class="form-group" style="padding-top: 20px;">
                                @Html.LabelFor(m => m.StreetPrompt, Model.StreetPrompt, new { @class = "col-md-6 control-label" })
                                @Html.ActionLink("New Search", "SC1", "Reports", new { id = 1 }, new { @class = "col-md-6 control-label" })
                            </div>
                            <table class="table table-bordered">
                                <tr class="rectificationTableHeader2">
                                    <th>
                                        @Html.Label("WARD")
                                    </th>
                                    <th>
                                        @Html.Label("District")
                                    </th>
                                    <th>
                                        @Html.Label("Street")
                                    </th>
                                    <th>
                                        @Html.Label("Limits")
                                    </th>
                                </tr>
                                @Html.EditorFor(m => m.StreetsFound)

                            </table>
                        }
                    }
                    
                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Wards, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.WardCode, Model.Wards, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Report" class="btn btn-default"/>
                        </div>
                    </div>*@
                }
            </section>
        </div>
    </div>
}
else
{
    <h3 style="font-weight: bold; color: red;">Please Log into SMPL before proceeding.</h3>
}
